*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
background: rgb(225,251,63);
background: -moz-radial-gradient(circle, rgba(225,251,63,1) 5%, rgba(252,70,107,1) 100%);
background: -webkit-radial-gradient(circle, rgba(225,251,63,1) 5%, rgba(252,70,107,1) 100%);
background: radial-gradient(circle, rgba(225,251,63,1) 5%, rgba(252,70,107,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1fb3f",endColorstr="#fc466b",GradientType=1);
}
.img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: none;
}
/* Yozuvni silkitish effekti */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .img p {
    display: inline-block;
    font-size: 24px;
    color: #333;
    animation: shake 0.5s ease-in-out infinite;
  }
  